.buscardImg{
	border-radius: 110rpx;
	width: 200rpx;
	height: 200rpx;
	overflow: hidden;
	position: absolute;
	top:-50rpx;
	right:35rpx;
}
.buscardright{
	/* position: relative; */
}
.buscardleft{
	/* border:0.1px solid green; */
}
.buscardicon{
	width: 40rpx;
	height: 40rpx;
	margin-left: 20rpx;
	/* line-height: 40rpx; */
/* 	vertical-align:center; */
	margin-bottom: -10rpx;
}
.titletext{
	margin-left: 20rpx;
	font-size: 29rpx;
}
.context1{
	margin-top: 10rpx;
	margin-left: 30rpx;
}
.context2{
	margin-top: 15rpx;
	margin-left: 30rpx;
	padding-right:5px;
	line-height:25px;
	/* height:20px; */
}
.context{
	margin-top: 15rpx;
	margin-left: 30rpx;
}
.bottext{
	/* border:1px solid red; */
	height:20px;
}
